.sectionFooter {
  max-width: 100vw;
  height: 70vh;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.divFooter {
  display: grid;
  justify-content: start;
  align-items: start;
  align-content: start;
  width: 80%;
  margin: auto;
}

.divHeading {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin-left: 2rem;
}

.divFooterLinks {
  display: grid;
  align-items: start;
  justify-content: start;
}

.footerLink {
  text-decoration: none;
  text-align: start;
  position: relative;
  display: flex;
}

.footerLinkText {
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 3px;
  text-decoration: none;
  margin-left: 2rem;
}

#footerArrowIcon {
  margin-top: -8px;
  position: absolute;
  left: 0;
  top: 40%;
  color: #fff;
}

.divFooterLogos {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divFooterLogos {
  position: relative;
  width: 50%;
  display: flex;
  /* height: 50vh; */
  margin: 2rem auto;
  justify-content: center;
  align-items: end;
  align-content: end;
  margin-bottom: 6rem;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.circleFooter {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.leftFooter {
  background: transparent;
  left: 0;
  animation: moveRight 10s infinite ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rightFooter {
  background: transparent;
  right: 0;
  animation: moveLeft 10s infinite ease-in-out;
}

.footerSocialLinks {
  display: flex;
  justify-content: center;
  align-items: end;
  align-content: end;
  margin-bottom: 6rem;
}

.footerSocialLinks i {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
  position: relative;
}

/* .divSocialLinks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.footerSocialLinks i:hover {
  color: #01959a;
  transition: 1s ease-in-out;
}

@keyframes moveRight {
  0% {
    left: 0%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 0%;
  }
}

@keyframes moveLeft {
  0% {
    right: 0%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 0%;
  }
}

.footerLogosImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 12px 2px #0a0e7c;
}

@media screen and (max-width: 1200px) {
  /* .divFooterLogos {
    max-width: 100vw;
    height: 20vh;
    margin: 1rem auto;
  } */

  .circleFooter {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 700px) {
  /* .divFooterLogos {
    max-width: 100vw;
    height: 20vh;
    margin: 1rem auto;
  } */

  .circleFooter {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .divHeading {
    font-size: 1rem;
    letter-spacing: 3px;
    margin-left: 0.2rem;
  }

  .footerLinkText {
    font-size: 0.7rem;
    margin-left: 1.8rem;
  }
}
