.divHomeWelcomeImage {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  display: inline-block;
}

.homeWelcomeImage {
  box-shadow: 0 0 10px 1px #0a0e7c;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  filter: brightness(50%);
}

.divHomeLandingPageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.homeLandingPageText {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: normal;
}

.homeLandingPageText1 {
  width: 100%;
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: normal;
  background: linear-gradient(135deg, #ffff00 0%, #ff0000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  border-right: 5px solid;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-color: transparent;
  animation: typing 5s ease-in-out 1s forwards, cursor 1s step-end infinite 1s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  10%,
  90% {
    border-color: currentColor; /* or #fff */
  }
}

.homeLandingPageText2 {
  color: #fff; /* ← Visible white text */
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2px;
  opacity: 0;
  animation: appear 1.5s ease-out 3.5s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.homeLandingPageText1,
.homeLandingPageText2 {
  margin: 0;
  line-height: 1.1;
}

@media screen and (max-width: 800px) {
  .homeLandingPageText {
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .homeLandingPageText1 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .homeLandingPageText2 {
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 500px) {
  .homeLandingPageText1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 2px;
    width: 50%;
    margin: auto;
  }
}
