.sectionCalendarServices {
  background-color: #000;
  max-width: 100vw;
  padding: 4rem 0;
  /* display: grid;
  grid-template-columns: 1fr 0.6fr; */
}

.sectionCalendarPicture {
  width: 80%;
  height: 100%;
  /* overflow: hidden; */
  margin: auto;
  transition: transform 1s ease-in-out;
}

.calendarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
  filter: opacity(30%);
}

.textCalendarMeetings {
  margin: auto;
  width: 80%;
}

.divCalendarMeetings {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  justify-content: start;
  gap: 1rem;
  margin: 0;
}

.headingCalendarText {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #fff;
  background-color: #000;
  margin: 0;
  text-align: center;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.calendarText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #fff;
  /* margin: 1.1; */
  text-align: start;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .sectionCalendarPicture {
    width: 90%;
  }

  .headingCalendarText {
    font-size: 1rem;
    letter-spacing: 3px;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .calendarText {
    font-size: 0.9rem;
    line-height: 25px;
    letter-spacing: 0.5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
  }

  .divCalendarMeetings {
    grid-template-columns: 0.2fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .sectionCalendarPicture {
    width: 100%;
  }

  .headingCalendarText {
    font-size: 0.8rem;
    letter-spacing: 2px;
    padding-top: 1.1rem;
    padding-bottom: 0.8rem;
    padding-left: 0.5rem;
  }

  .calendarText {
    font-size: 0.7rem;
    line-height: 25px;
    letter-spacing: 0.5px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 100%;
  }

  .divCalendarMeetings {
    grid-template-columns: 0.3fr 1fr;
  }

  .textCalendarMeetings {
    margin: auto;
    width: 95%;
  }
}
