.sectionWWAAbout {
  width: 100%;
}

.WWAAboutText {
  width: 70%;
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #000;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .WWAAboutText {
    width: 80%;
    font-size: 0.9rem;
    line-height: 25px;
  }
}

@media screen and (max-width: 700px) {
  .WWAAboutText {
    width: 90%;
    font-size: 0.7rem;
    line-height: 22px;
    text-align: start;
  }
}
